<!DOCTYPE html>
<html>
<head>
  <title>Watchtower</title>
  <%= stylesheet_link_tag    "watchtower/application", :media => "all" %>
  <%= javascript_include_tag "watchtower/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="top-bar">
  <ul>
    <li class="name"><h1><a href="#">Watchtower</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section>
    <ul class="left">
      <li><%= link_to "Contacts", contacts_path %></li>
      <li><%= link_to "Categories", tags_path %></li>
    </ul>
  </section>
</nav>
<% if notice %>
  <div class="row"><div id="notice" class="alert-box success alert alert-info"><%= notice %></div></div>
<% end %>

<div class="row">
  <%= yield :header %>
</div>

<div class="row">
  <%= yield %>
</div>

</body>
</html>
