
<% content_for :header do %>
  <h2><%= @contact.full_name %></h3>
    <ul class="tags">
      <% @contact.tags.each do |tag| %>
        <li><span class="label"><%= tag.to_s %></span></li>
      <% end %>
      <li><%= link_to "add", "#", 'data-form' => 'tags' %></li>
    </ul>
<% end %>

<dl>
  <div>
    <dt>email</dt>
    <dd><%= @contact.primary_email %></dd>
  </div>
  <div>
    <dt>phone</dt>
    <dd><%= @contact.primary_phone %></dd>
  </div>
  <% @contact.custom_data.each do |field| %>
    <div id="custom_data_<%= field.name.parameterize %>">
      <dt><%= field.name %></dt>
      <dd><%= field.content %></dd>
    </div>
  <% end %>
</dl>

<div class="dialog tags" id="tags">
  <h2>Add a Tag</h2>
  <p>
    <%= form_tag tag_contact_path(@contact) do %>
      <div class="field">
        <%= text_field_tag :tag_name %>
      </div>
      <div class="field">
        <%= submit_tag "Add Tag" %>
      </div>
    <% end %>
  </p>
</div>

<!-- <div id="sidebar"> -->
  <table>
    <%= render @contact.emails %>
    <%= render @contact.phones %>
    <%= render @contact.addresses %>
  </table>
<!-- </div> -->

<div id="notes">
  <h3> Notes </h3>
  <ul class="notes">
    <%= render @contact.notes %>
  </ul>
</div>

<%= form_for [@contact, @contact.notes.new] do |f| %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.submit "Add Note" %>
  </div>
<% end %>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
